

.order-summary {
    display: flex;
}

.horizontal {
    display: flex;
}



/* horizontal form structure*/
.horizontal-form {
    display: flex;
    gap: 5px;
    width: 200px;
}

.store-titles{
    display: flex;
    gap: 15px;
}

.store-title{
    font-weight: bold;
    color: black;
}

.active{
    color:green;
    text-decoration: underline;
    border-radius: 5px;
}

.store-title:hover{
    color: "";
}


.add-store{
    display: flex; 
    flex-direction: column; align-items: center;
    justify-content: center;
}

.two-side-form{
    display: flex;
    gap:5px;
}


.btn {
    font-weight: bold;
}