

.order-summary {
    display: flex;
}

.horizontal {
    display: flex;
}



/* horizontal form structure*/
.horizontal-form {
    display: flex;
    gap: 5px;
    width: 200px;
}

.store-titles{
    display: flex; gap: 15px;
}

.store-title{
    font-weight: bold;
    color: black;
}

.active{
    color: "green";
    background-color: aqua;
    border-radius: 5px;
    padding: 5px;
}