
ul {
    list-style-type: none;
    margin: 0; padding: 0;
}

a { text-decoration: none;}

.sidebar {
    background-color: #3d4d82;
    width: 175px;
    padding: 5px;
    box-sizing: content-box;
    color: white;
    min-height: 100vh;
}

.site-name {
    font-weight: bold;
}

.nav-lists {
    margin: 0px 0px 10px 10px;
}

.nav-lists h6{
    padding: 0px; margin: 0px 0px 10px 0px;
    font-size: 12px;
    color:lightgray;
    font-weight: bold;
}

.nav-lists li{
    margin: 0px 0px 5px 15px;
    text-align: left;
}

.sidebar a{
    font-weight: 550;
    color: white;
}

.nav-lists a:hover{
    color: gold;
}


