
body{
    margin: 0; padding: 0;
}

.body{
    flex: 1;
    display: flex;
    font-family: Helvetica, Arial, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0; padding: 0;
}

a { text-decoration: none;}

.sidebar {
    background-color: #3d4d82;
    width: 150px;
    padding: 5px;
    box-sizing: content-box;
    color: white;
    display: flex; flex-direction: column;
    justify-content: center;
    height: 100%;
}

.site-name {
    font-size: 20px;
    justify-content: center;
}

.nav-lists {
    display: flex; flex-direction: column;
    gap: 5px;
    margin: 0px 0px 10px 10px;
}
.nav-lists h6{
    padding: 0px; margin: 0px 0px 10px 0px;
    font-size: 12px;
    color:lightgray;
}

.nav-lists li{
    margin: 0px 0px 5px 15px;
    text-align: left;
}

.sidebar a{
    font-weight: 500;
    color: white;
    
}

.nav-lists a:hover{
    color: gold;
}

.nav-lists li:hover {
        margin: 0px 0px 0px 12%;
}



.container {
    background-color: aqua;
}

.header{
    height: 90px;
}

/* Footer */
.footer {
    text-align: center;
    background-color: gray;
}