{% extends 'index.html' %}
{% load static %}

{% block content %}
<h1>Add amazon store</h1>

<form class="form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-floating">
        <h2>User : {{user}}</h2>
    </div>
    <div class="form-floating">
        <input class="form-control" name="client_id" id="client_id" placeholder="name@example.com">
        <label for="floatingInput">Enter the client ID</label>
    </div>
    <div class="form-floating">
        <input class="form-control" name="client_secret" id="client_secret" placeholder="Enter the client secret">
        <label for="floatingPassword">Enter the client secret</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" name="refresh_token" id="client_secret" placeholder="Enter the client secret">
        <label for="floatingPassword">Enter the refresh token</label>
    </div>
    
    <div class="form-floating">
        <button type="submit" class="btn btn-primary">Submit Credentials</button>
    </div>
</form>

{% endblock %}