{% extends 'index.html' %}
{% load static %}

{% block content %}
<h1>Add amazon store</h1>

<form class="form">
    <div class="form-floating">
        <input class="form-control" id="client_id" placeholder="name@example.com">
        <label for="floatingInput">Enter the client ID</label>
    </div>
    <div class="form-floating">
        <input class="form-control" id="client_secret" placeholder="Enter the client secret">
        <label for="floatingPassword">Enter the client secret</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="client_secret" placeholder="Enter the client secret">
        <label for="floatingPassword">Enter the refresh token</label>
    </div>
    
    <div class="form-floating">
        <button type="submit" class="btn btn-primary">Submit Credentials</button>
    </div>
</form>

{% endblock %}