{% extends 'index.html' %}
<!-- Amazon dashboard, need to be added via template inheritance for managing easily-->

{% block title %} - Dashboard {% endblock %}

{% block content %}
<div class="graph-view">
    <h1>Sales Graph</h1>
</div>

<!-- Display the dashbaord if the store is added , else we should see the option to add it-->
<div class="parent-container">
    <div class="child-container">
        <h2>Amazon Dashboard</h2>
        <p>Current Time: </p>
        <h6 id="timeDisplay"></h6>
    </div>
    {% include 'dashboards/amazon_dashboard.html' %}
{% endblock %}