{% extends 'index.html' %}
{% load static %}
<!-- Amazon dashboard, need to be added via template inheritance for managing easily-->

{% block title %} - Dashboard {% endblock %}

{% block content %}
<script src="{% static 'js/dashboard.js' %}" defer></script>
<script src="{% static 'js/socket.js' %}" defer></script>
<div class="graph-view">
    <h1>Sales Graph</h1>
</div>

<!-- Display the dashbaord if the store is added , else we should see the option to add it-->
<div class="parent-container">
    <!-- Display available stores -->
    {% if added_stores %}
    <div id = "addedStores">
        <h1 id = "dashboardTitle">Dashboard</h1>
        <ul class="store-titles">
            {% for store in added_stores %}
            <li><a class="store-title" href="{% url 'dashboard:dashboard' store.slug %}">{{store}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h5>Websocket testing</h5>
        <h5 id="timeDisplay"></h5>
    </div>
    <div>
        <h5>Unshipped Orders : <span id="Unshipped">{{unshipped}}</span</h5>
        
        {% if report_types %}
        <h6>Report generator</h6>
        <form class="two-side-form" method="POST" enctype="multipart/form-data">
            <div  class="left-form">
                <select id="reportTypes">
                    {% for type in report_types %}
                    <option>{{type}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="right-form">
                <button id="generatorButton" class="btn btn-primary" type="submit">Create report</button>
            </div>
        </form>
        {% endif %}
        
    </div>
    {% else %}
    <div class="add-store">
        <h1>Add a store to continue</h1>
        <a href="{% url 'dashboard:add_store' %}">Add store</a>
    </div>
    {% endif %}
</div>
    
{% endblock %}
