{% extends 'index.html' %}
{% load static %}
<!-- Amazon dashboard, need to be added via template inheritance for managing easily-->

{% block title %} - Dashboard {% endblock %}

{% block content %}
<script src="{% static 'js/dashboard.js' %}" defer></script>
<script src="{% static 'js/socket.js' %}" defer></script>
<div class="graph-view">
    <h1>Sales Graph</h1>
</div>

<!-- Display the dashbaord if the store is added , else we should see the option to add it-->
<div class="parent-container">
    <div class="child-container">
        <h1 id = "dashboardTitle">Dashboard</h1>
    </div>
    <!-- Display available stores -->
    {% if added_stores %}
        <div id = "addedStores" class="store-titles">
            <ul class="store-titles">
                {% for store in added_stores %}
                <!--{% url 'dashboard:dashboard' store.slug %}-->
                <li><a class="store-title" href="{% url 'dashboard:dashboard' store.slug %}">{{store}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h5>Unshipped Orders : <span id="Unshipped"></span></h5>
            <h5 id="timeDisplay"></h5>
           
        </div>
    {% else %}
        <h1>Add a store to continue</h1>
    {% endif %}
</div>
    
{% endblock %}