<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopsyncer</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="left-nav">
            <h1>ShopSyncer</h1>
        </div>
        <div class="right-nav">
            <ul>
                <li><a>Home</a></li>
                <li><a>Amazon</a></li>
                <li><a>Logout</a></li>
            </ul>
        </div>
        
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
        Shopsyncer &copy; 2025
    </footer>
</body>
</html>