{% extends 'base.html' %}

{% block content %}
<div id="index">
    <div class="sidebar">
        <h2 class="site-name">Shop Syncer</h2>

        {% if user.is_authenticated %}
        <div class="nav-lists">
            <h6>Common</h6>
            <ul>
                <li><a href="{% url 'sales:dashboard' %}">Dashboard</a></li>
                
                <li><a href="{% url 'amazon:add_store' %}">Add amazon store</a></li>
            </ul>
        </div>

        <!-- Stores-->
        <div class="nav-lists">
            <h6>Stores</h6>
            <ul class="nav-list">
                <li style="list-style-type:none;"><a href="#home"> <i class="fa-brands fa-amazon"></i>Amazon</a></li>
            </ul>
        </div>

        <div class="nav-lists">
            <h6>Authorization</h6>
                <li style="list-style-type: none;"><a href="{% url 'user:logout' %}">Signout</a></li>
            </ul>
        </div>
        {% else %}
        <!-- Authorizatrion-->
        <div class="nav-lists">
            <h6>Authorization</h6>
            <ul>
                <li><a href="{% url 'user:login' %}">Sign - in</a></li>
                <li><a href="{% url 'user:register' %}">Sign - up</a></li>
            </ul>
        </div>
        {% endif %}
        <!-- Developer settings-->
        <div class="nav-lists">
            <h6>Developer</h6>
            <ul>
                <li><a href="https://github.com/harilal766/Ecom-Dashboard/blob/main/README.md" target="_blank">Docs</a></li>
            </ul>
        </div>
    </div>

    <div class="body">
        <div class="header">
            <div class="left-header">

                <div class="header-content">
                    <form method="POST" enctype="multipart/form-data" action="">
                        <input name="Search_query" placeholder="Enter your query">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </form>
                </div>
                
                
                
            </div>

            
            <div class="right-header">

                <div class="header-content">
                    <button class="btn btn-primary" onclick="cssDebugger()">Debugger</button>
                </div>
                
                <div class="header-content">
                    {% if user.is_authenticated %}
                    <h3>user : {{user}}</h3>
                    {% endif %}
                </div>
                
            </div>
        </div>

        <div class="content"> 
            {% block content %}
            {% endblock %} 
        </div>
        <footer class="footer">
            <h5>Shop Syncer &copy; 2025</h5>
        </footer>
    </div>
</div>

{% endblock %}