<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopsyncer</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="header">
        <div class="left-header">
            <h2>ShopSyncer</h2>
        </div>
        <div class="right-header">
            <h2>User</h2>
        </div>
    </div>
    <div class="body">
        <div class="sidebar">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#home">Amazon</a></li>
                <li><a>Signout</a></li>
            </ul>
        </div>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <footer>
        Shopsyncer &copy; 2025
    </footer>
</body>
</html>