<div class="sidebar">
    <h2 class="site-name">Shop Syncer </h2>
    <div class="nav-lists">
        <h6>Common</h6>
        <ul>
            <li><a href="{% url 'dashboard:home' %}">Dashboard</a></li>
            <li><a href="{% url 'dashboard:add_store' %}">Add store</a></li>
        </ul>
    </div>

    <!-- Stores-->
    <div class="nav-lists">
        <h6>Stores</h6>
        <ul class="nav-list">
            {% for i in added_stores %}
                <li style="list-style-type:none;"><a href="#"><i class="fa-brands fa-amazon"></i>{{i.store_name}}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="nav-lists">
        <h6>Authorization</h6>
            <li style="list-style-type: none;"><a href="{% url 'user:logout' %}">Signout</a></li>
        </ul>
    </div>
    <!-- Developer settings-->
    <div class="nav-lists">
        <h6>Developer</h6>
        <ul>
            <li><a href="https://github.com/harilal766/Ecom-Dashboard/blob/main/README.md" target="_blank">Docs</a></li>
        </ul>
    </div>
</div>