{% extends 'index.html' %}
{% block content %}
<div class="form">
    <div>
        <h1 id="title">{{purpose}}</h1>
        {% if auth_status %}
        <h6>{{auth_status}} </h6>
        {% endif %}
    </div>
    
    <form class="form" method="POST">
        {% csrf_token %}

        <div class="form-floating">
            <input class="form-control" name="username" id="username" placeholder="Enter the username">
            <label for="floatingInput">Enter the username</label>
        </div>

        {% if purpose == "Sign-Up" %}
        <div class="form-floating">
            <input class="form-control" name="email" type="email" id="email" placeholder="Enter the E-mail">
            <label for="floatingInput">Enter the E-mail</label>
        </div>
        {% endif %}

        <div class="form-floating">
            <input class="form-control" onclick="passwordStrength()" name="password" type="password" 
            id="password" placeholder="Enter password00">
            <label id="password_label" for="floatingInput">Enter password</label>
        </div>

        {% if purpose == "Sign-Up" %}
        <div class="form-floating">
            <input class="form-control" name="confirm_password" type="password" id="confirm_password" placeholder="Confirm the password">
            <label for="floatingInput">Confirm the password</label>
        </div>
        {% endif %}

        <div class="form-floating">
            <button type="submit" class="btn btn-primary">{{button_text}}</button>
        </div>
        
    </form>
    
</div>
{% endblock %}